*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 40px;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.1rem;
}

body#primary {
    background-color: #ff744d;
    color: #ffe9ae;
}

body#alt {
    background-color: #f8ead9;
    color: #ff744d;
}

button {
    background-color: transparent;
    border: 4px solid #ffe9ae;
    color: #ffe9ae;
    text-transform: uppercase;
    font-size: 0.833rem;
    cursor: pointer;
    padding: 0.350rem 0;
    line-height: 0.8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    -webkit-animation: fadein 0.6s;
       -moz-animation: fadein 0.6s;
        -ms-animation: fadein 0.6s;
         -o-animation: fadein 0.6s;
            animation: fadein 0.6s;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 1920px;
    padding: 1.500rem 1.125rem;
}

.inner.render-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.inner.render-start > .content-row,
.inner.render-start > .nav-row {
    margin-bottom: 2.000rem;
}

.inner.render-start > .content-row:nth-child(2) {
    margin-bottom: 3.250rem;
}

.home .content-row.centre,
.home .info-text,
.info-text-mobile {
    animation: fadein 0.75s ease-in-out;
    animation-fill-mode: both;
}

.home .content-row.centre {
    animation-delay: 0.5s;
}

.home .info-text,
.info-text-mobile {
    animation-delay: 2s;
}

.content-row, .nav-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content-row.centre {
    justify-content: center;
}

.info-text-mobile {
    display: none;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.info-text a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    margin-right: -0.15rem;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 9.250rem;
}

.centre-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-transform: uppercase;
    font-size: 2.5rem;
}

.centre-title-seperator {
    width: 6.125rem;
    border-bottom: 3px solid #ffe9ae;
    margin: 1rem 0;
}

.proper-underline {
    display: inline-block;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    line-height: 0.95rem;
}

#primary .proper-underline {
    border-bottom-color: #ffe9ae;
}

#alt .proper-underline {
    border-bottom-color: #ff744d;
}

.info-block {
    display: flex;

    position: relative;
    color: #52504b;
    font-size: 0.600rem;
    letter-spacing: 0.04rem;
    padding: 0 1.250rem;
}

.info-block:first-child {
    padding-left: 0;
}

.info-block:last-child {
    padding-right: 0;
}

.info-block ul{
    white-space: nowrap;
}

.info-block ul a, .info-block a {
    color: #52504b;
}

.info-block ul, .info-block p {
    margin: 0.400rem 0;
}

.info-block ul:first-child {
    margin-right: 2.250rem;
}

.info-block-list-wrap {
    display: flex;
}

.info-block-heading {
    color: #ff744d;
    font-size: 0.900rem;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.1rem;}

.info-block::after {
    content: "";
    position: absolute;
    width: 7.375rem;
    height: 6.950rem;
    top: 0;
    right: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.info-block-column {
    display: flex;
    flex-direction: column;
}

.info-block-column-two-col {
    display: flex;
    margin: 0.400rem 0;
}

.info-block-column-title {
    margin-right: 1.350rem;
    min-width: 2.075rem;
}

.info-block-column img {
    width: 100%;
    height: auto;
}

.info-block-column img {
    display: none;
}

#order-of-the-day {
    max-width: 490px;
}
#order-of-the-day::after {
    top: 3.85rem;
    right: -1.250rem;
    background-image: url("../assets/rings.png");
}

#food-and-drink {
    max-width: 440px;
}
#food-and-drink::after {
    top: 4rem;
    right: -60px;
    background-image: url("../assets/cutlery.png");
    transform: scale(0.8) rotate(45deg);
}


#getting-there {
    max-width: 580px;
}
#getting-there::after {
    top: 6.16rem;
    right: -0.85rem;
    background-image: url("../assets/car.png");
}

#accommodation {
    max-width: 470px;
}
#accommodation::after {
    top: 2.250rem;
    right: -40px;
    background-image: url("../assets/bed.png");
}

#gifts {
    max-width: 830px;
    padding-left: 0;
}
#gifts::after {
    top: 2.25rem;
    right: 2.250rem;
    background-image: url("../assets/plane.png");
}

.contact-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-info, .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.contact-heading {
    font-size: 2.813rem;
    text-transform: uppercase;
}

.contact-info-line {
    font-size: 0.833rem;
    letter-spacing: 0.1rem;
}

.sending-spinner {
    display: none;
    width: 3.500rem;
    height: 3.500rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    width: 15.375rem;
}

form {
    width: 100%;
}

form button {
    width: 100%;
}

form label, form textarea, form input[type=text], .radio-group {
    margin-bottom: 0.750rem;
}

form input[type=text], form textarea, form textarea::placeholder {
    color: #52504b;
    letter-spacing: 0.075rem;
}

form textarea::placeholder, form textarea, form input[type=text] {
    font-size: 0.600rem;
}

form textarea, form input[type=text] {
    padding: 0.525rem;
}

form textarea {
    min-height: 3.200rem;
}

form ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.833rem;
}

form textarea, form input[type=text] {
    background-color: #ffe9ae;
}

.form-thank-you-message {
    display: none;

    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.800rem;
    text-transform: uppercase;
    text-align: center;
}

.radio-group {
    position: relative;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    opacity: 0;
    position: absolute;
    top: 0.275rem;
    left: 0.275rem;
	z-index: -1;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 1.500rem;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border: 0.175rem solid #ffe9ae;
    border-radius: 100%;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 0.450rem;
    height: 0.450rem;
    background: #ffe9ae;
    position: absolute;
    top: 0.275rem;
    left: 0.275rem;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media only screen and (max-width: 1600px) {
    html {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1400px) {
    html {
        font-size: 33px;
    }
}

@media only screen and (max-width: 1280px) {
    html {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1220px) {
    html {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1124px) {
    html {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1024px) {
    .contact-info {
        margin-bottom: 2rem;
    }
    .contact-info, .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
    }
    .contact-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

@media only screen and (max-width: 980px) {
    #alt .content-row {
        flex-direction: column;
        margin: 0;
    }

    .navigation-wrapper {
        width: 7rem;
    }

    .info-block {
        display: flex;
        justify-content: space-between;

        padding: 0;
        margin: 0.5rem 0;
        width: 100%;
    }

    .info-block::after {
        display: none;
    }

    .info-block-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 50%;
        padding: 0.5rem;
    }

    .info-block-column img {
        display: block;
    }

    #order-of-the-day,
    #food-and-drink,
    #getting-there,
    #accommodation,
    #gifts {
        max-width: none;
    }

    #food-and-drink .info-block-column:last-child {
        display: none;
    }

    #accommodation .info-block-column:last-child {
        display: none;
    }
}

@media only screen and (max-width: 980px) and (orientation: portrait) {
    html {
        font-size: 35px;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    html {
        font-size: 30px;
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 24px;
    }

    .inner {
        width: 100%;
        padding: 0.75rem;
    }

    .home .inner {
        justify-content: flex-start;
    }

    .home .content-row {
        width: 100%;
    }

    .home .content-row:last-child {
        display: none;
    }

    .home .info-text {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .home .info-text:first-child {
        display: none;
    }

    .info-text-mobile {
        display: block;
    }

    .centre {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .centre-title {
        margin: 3rem 0 1rem 0;
    }

    .form-wrapper {
        width: 100%;
    }

    .form-thank-you-message {
        align-items: flex-start;
        padding-top: 6rem;
    }

    .info-block {
        flex-direction: column;
    }

    .info-block-column {
        padding: 0;
        width: 100%;
    }

    .info-block.anchor {
        display: none;
    }

    .info-block-column img {
        max-width: 60%;
        margin: 0 auto;
    }
    
    /* Hacky hack hack let's get this done */
    #food-and-drink .info-block-column:first-child,
    #accommodation .info-block-column:first-child {
        display: none !important;
    }

    #food-and-drink .info-block-column:last-child,
    #accommodation .info-block-column:last-child {
        display: flex !important;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 22px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}