html, body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 40px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.15rem;
}

body#primary {
    background-color: #ff744d;
    color: #ffe9ae;
}

body#alt {
    background-color: #f8ead9;
    color: #ff744d;
}

button {
    background-color: transparent;
    border: 4px solid #ffe9ae;
    color: #ffe9ae;
    text-transform: uppercase;
    font-size: 0.833rem;
    cursor: pointer;
    padding: 0.350rem 0;
    line-height: 0.8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    -webkit-animation: fadein 0.6s;
       -moz-animation: fadein 0.6s;
        -ms-animation: fadein 0.6s;
         -o-animation: fadein 0.6s;
            animation: fadein 0.6s;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 1920px;
    padding: 2.500rem 2.125rem;
}

.content-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content-row.centre {
    justify-content: center;
}

.info-text a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    margin-right: -0.15rem;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 9.250rem;
}

.centre-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-transform: uppercase;
    font-size: 2.5rem;
}

.centre-title-seperator {
    width: 6.125rem;
    border-bottom: 3px solid #ffe9ae;
    margin: 1rem 0;
}

.proper-underline {
    display: inline-block;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    line-height: 0.95rem;
}

#primary .proper-underline {
    border-bottom-color: #ffe9ae;
}

#alt .proper-underline {
    border-bottom-color: #ff744d;
}

.info-block {
    color: #52504b;
    font-size: 0.600rem;
}

.info-block-heading {
    color: #ff744d;
    font-size: 0.900rem;
}

.contact-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-info, .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.contact-heading {
    font-size: 2.813rem;
    text-transform: uppercase;
}

.contact-info-line {
    font-size: 0.833rem;
    letter-spacing: 0.1rem;
}

.form-wrapper {
    width: 15.375rem;
}

form button {
    width: 100%;
}

form label, form textarea, form input[type=text], .radio-group {
    margin-bottom: 0.750rem;
}

form input[type=text], form textarea, form textarea::placeholder {
    color: #52504b;
}

form textarea::placeholder, form textarea, form input[type=text] {
    font-size: 0.600rem;
}

form textarea, form input[type=text] {
    padding: 0.525rem;
}

form textarea {
    min-height: 3.200rem;
}

form ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.833rem;
}

form textarea, form input[type=text] {
    background-color: #ffe9ae;
}

.radio-group {
    position: relative;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    opacity: 0;
    position: absolute;
    top: 0.275rem;
    left: 0.275rem;
	z-index: -1;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 1.500rem;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border: 0.175rem solid #ffe9ae;
    border-radius: 100%;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 0.450rem;
    height: 0.450rem;
    background: #ffe9ae;
    position: absolute;
    top: 0.275rem;
    left: 0.275rem;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}